* {
  /* border: 1px solid red !important;
    padding: 10px;*/
  box-sizing: border-box;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  text-align: center;
}